<footer class="page-footer ">
    <div class="container white-text opacity-75">
        <h3>CPS530 Final Project</h3>
        <hr>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 col s12 m6 l3">
                <h5 class="">Tu-Ngoc Dam</h5>
                <p class="opacity-50">500723956</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col s12 m6 l3">
                <h5 class="">Dingqi Liu</h5>
                <p class="opacity-50">500840427</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col s12 m6 l3">
                <h5 class="">Aaron Cartier</h5>
                <p class="opacity-50">500290986</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col s12 m6 l3">
                <h5 class="">Angela Gavin</h5>
                <p class="opacity-50">500761490</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> and <a href="https://nodejs.org/en/" class="orange-text text-lighten-3">Node.js</a>
        </div>
    </div>
</footer>
<script src="/public/materialize/js/materialize.min.js"></script>
