<footer class="page-footer ">
    <div class="container white-text opacity-75">
        <h3>CPS530 Final Project</h3>
        <hr>
        <div class="row">
            <div class="col m6 l3">
                <h5 class="">Nicky</h5>
                <p class="opacity-50">500999999</p>
            </div>
            <div class="col m6 l3">
                <h5 class="">Dingqi</h5>
                <p class="opacity-50">500999999</p>
            </div>
            <div class="col m6 l3">
                <h5 class="">Aaron</h5>
                <p class="opacity-50">500999999</p>
            </div>
            <div class="col m6 l3">
                <h5 class="">Angela</h5>
                <p class="opacity-50">500999999</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> and <a href="https://nodejs.org/en/" class="orange-text text-lighten-3">Node.js</a>
        </div>
    </div>
</footer>
<script src="/public/materialize/js/materialize.min.js"></script>
