:root {
    --theme-color: #ee6e73;
    --green-color: #43853d;
}
.code {
    background-color: #eee;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-family: monospace;
}
.bg-theme {
    background-color: var(--theme-color);
}
.color-green {
    color: var(--green-color);
}
.color-theme {
    color: var(--theme-color);
}
.opacity-75 {
    opacity: 0.75;
}
.opacity-50 {
    opacity: 0.50;
}
.opacity-33 {
    opacity: 0.33;
}
nav {
    z-index: 100;
}
nav ul li a:hover {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration:inherit !important;
}
